:root{
    --text-color:#f2e8e8;
    --text--secondary-color: rgb(133, 131, 127);
    --background-color:#121212;
    --border-color: #595757;
    --primary-button-background-color: #f2e8e8;
    --primary-button-text-color: #121212;
    --card-background-color: #2d2d2d3b;
    --tertiary-button-text-color: rgb(254, 77, 33);
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box; 
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: var(--text-color);
}

body{
    background-color: var(--background-color);
}

nav{
    width: 80%;
    margin: 150px;
    margin-top: 15px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}

nav #nav-left {
    display: flex;
    align-items: center;
    gap:5px;
}

nav #nav-left img{
    margin-top: 1px;
    width:20px;
}

nav #nav-center {
    display:flex;
    gap:20px;
}


nav #nav-right {
  display: flex;
  gap:10px;
}

nav #nav-right>:first-child {
  background-color: var(--background-color);
  border-radius: 18px;
  padding: 4px 10px;
  border: 0.5px solid var(--border-color);
}

nav #nav-right>:last-child {
  background-color: var(--primary-button-background-color);
  color: var(--primary-button-text-color);
  border-radius: 18px;
  padding: 4px 10px;
  border: 0.5px solid var(--border-color);
}

main {
  width:80%;
  margin:150px;
  margin-top:0px;
  margin-bottom:0px;
  display:flex;
  flex-direction: column;
  align-items: start;
  gap:30px;
}

main button{
  background-color: var(--primary-button-background-color);
  color: var(--primary-button-text-color);
  border-radius: 20px;
  padding: 12px 22px;
  border: 0.5px solid var(--border-color);
  font-size: 16.5px;
}

main img{
   width:100%;
   height: 700px;
   margin-top: 35px;
}

#logos-section {
    width:80%;
    margin:150px;
    margin-top: 70px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
}

#logos-section div{
  width:90%;   
  display: flex;
  justify-content: center;
  gap:10px;
}

#logos-section div img {
 width:13%;
 background-color: var(--card-background-color);
 padding: 40px 35px;
 border-radius: 7px;
}

#features-section{
 width:80%;
 margin:160px;
 margin-top:100px;
 display:flex;
 flex-direction: column;
 gap:100px;
}

.block {
 width:99%;   
 background-color: var(--card-background-color);
 padding: 20px 20px;   
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap:30px;
}

 .section-left {  
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  line-height: 1.3;
}

.section-left h3{
    font-size: 21px;
    font-weight: 500;
}

.section-left p{
 font-size:21px;
 font-weight: 500;
 color: var(--text--secondary-color);
 max-block-size: 6rem;
}

.section-left button{
  border: none;
  outline: none;
  background: none;
  color: var(--tertiary-button-text-color);
  font-size: 16.5px;
  align-self: start;
  margin-top: 20px;
}

.section-left button:hover{
    opacity: 0.7;
}

.block .section-right img{
    width: 100%;
}

.alternate-block{
    flex-direction: row-reverse;
}

#testimonials{
  color:var(--text-color);
  width: 80%;
  margin: 150px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:10px;
}

#testimonials h2{ 
   text-align: center;
   font-size: 30px;
   font-weight: 500;
   grid-column-start: 1;
   grid-column-end: 4;
   margin-bottom: 30px;
}

#testimonials .quote-card{
 background-color: var(--card-background-color);   
 padding: 10px 20px;
}

#testimonials .quote-card p{
 margin-bottom: 100px;
}

#testimonials .quote-card div{
  display: flex;
  justify-content: start;
  align-items: start;
  gap:10px;
}

#testimonials .quote-card div img{
   margin-top: 6px; 
   width: 40px;
   border-radius: 8px;  
}

#testimonials .quote-card div p{
    text-align: start;
    margin-top: 2px;
    margin-bottom: 0;
}


#feature-cards-section{
  color:var(--text-color);
  width: 80%;
  margin: 150px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:10px; 
}

#feature-cards-section h2{
    text-align: start;
    grid-column: 1/span 3;
    margin-bottom: 10px;
    font-weight: 500;
}

#feature-cards-section .feature-card{
 background-color: var(--card-background-color);   
 padding: 10px 20px;
}

#feature-cards-section .feature-card>:nth-child(2)
{
    color: var(--text--secondary-color);
    line-height: 1.5;
    margin-bottom: 20px;
}

#feature-cards-section .feature-card button{
    color: var(--tertiary-button-text-color);
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    margin-bottom: 20px;
}

#feature-cards-section .feature-card img {
    width: 100%;
}

#changelog{
    width: 80%;
    margin: 150px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

#changelog h2{
    grid-column: 1/span 4;
    margin-bottom: 10px;
}

#changelog .changelog-card{
  background-color: var(--card-background-color);   
  padding: 10px 20px;
  margin-bottom: 10px;
}

#changelog .changelog-card pre button{
    color: var(--text--secondary-color);
    border: 1px solid var(--border-color);
    background-color: var(--card-background-color);  
    padding: 2px 8px;
    border-radius: 14px;  
    margin-right: 10px;
}

#changelog .changelog-card pre{
    color: var(--text--secondary-color);
}

.hide-completely{
    display: none;
}

#changelog .changelog-card p {
    margin-top: 10px;
    margin-bottom: 20px;
}

#changelog button {
    color: var(--tertiary-button-text-color);
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    text-align: start;
}

#about{
    width: 80%;
    margin:150px;
    display: flex;
    gap:10px;
    padding: 15px 20px;
    background-color: var(--card-background-color);
}

#about .about-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    margin-right: 30px;
    word-wrap: 5;
}

#about .about-left p{
    font-size: 20px;
    width: 30ch;
}

#about .about-left button{
   color: var(--tertiary-button-text-color);
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    text-align: start;
}

#about .about-right img{
    width: 100%;
}

#highlights{
    background-color: var(--card-background-color);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

#highlights>:first-child {
  margin-left: 6%;
  margin-top: 60px;  
}

#highlights .highlights-right{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 60px;
    margin-right: 400px;
}

.highlights-right .card{
     background-color: var(--card-background-color);
     padding: 20px 20px;
     border-radius: 8px;
     font-weight: 500;
}

.highlights-right .card h3{
    color: var(--text-color);
    font-weight: 500;
    font-size: 16px;
}

.highlights-right .card>:nth-child(2){
  color: var(--text--secondary-color);
  line-height: 1.5;
  margin-bottom: 20px;
  width: 60ch;
}

.third-child{
  color: var(--text--secondary-color);
  display: flex;
  align-items: center;
  gap:10px;
}

.third-child div{
  font-size: 0.6em;
  font-weight: bolder;
}

.highlights-right button{
    color: var(--tertiary-button-text-color);
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    text-align: start;
    margin-bottom: 60px;
}

.final{
    text-align: center;
    margin-top: 150px;
}

.final h1{
    font-size: 4rem;
    font-weight: 500;
}
.final button{
  background-color: var(--primary-button-background-color);
  color: var(--primary-button-text-color);
  border-radius: 20px;
  padding: 12px 22px;
  border: 0.5px solid var(--border-color);
  font-size: 16.5px;
  margin-top: 30px;
  margin-bottom: 180px;
}

.grid {
 display: grid;
 grid-template-columns: repeat(5,1fr);
 padding-left: 100px;
 gap: 10px;
 padding-right: 100px;
 background-color: var(--card-background-color);
 padding-top: 70px;
 }

.grid ul{
    list-style-type: none;
    line-height: 2;
}

.first-child {
    color: var(--text--secondary-color);
}

.grid pre{
    margin-top: 60px;
    color: var(--text--secondary-color);
    font-size: 14px;
    font-weight: 600;
}





